body {
    background-image: #ffffff url("fuck.jpg") no-repeat fixed right top; /*make color change with page position to tint image?*/
		/*https://www.w3schools.com/css/css_background.asp*/
		
		
    
}

h1 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 2.5em; /* 40px/16=2.5em */
		color:
		text-transform: uppercase;
		font-weight: bold;
		
}

h2 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 1.875em; /* 30px/16=1.875em */
		color:
		font-weight: bold;
		
}

p {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 0.875em; /* 14px/16=0.875em */col
		color:
		
}

/* unvisited link */
a:link {
		text-decoration: underline;
}

/* visited link */
a:visited {
		text-decoration: underline;
}

/* mouse over link */
a:hover {
    color: hotpink;
		text-decoration: underline;
}

/* selected link */
a:active {
    color: blue;
		text-decoration: underline;
}

/*This is all list stuff (ul used for navbar) https://www.w3schools.com/css/css_list.asp */
/*Navbar stuff starts here https://www.w3schools.com/css/css_navbar.asp */
ul.sidenav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

ul.sidenav li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
 
ul.sidenav li a.active {
    background-color: #4CAF50;
    color: white;
}

ul.sidenav li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

div.content {
    margin-left: 25%;
    padding: 1px 16px;
    height: 1000px;
}

@media screen and (max-width: 900px) {
    ul.sidenav {
        width: 100%;
        height: auto;
        position: relative;
    }
    ul.sidenav li a {
        float: left;
        padding: 15px;
    }
    div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
    ul.sidenav li a {
        text-align: center;
        float: none;
    }
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}
/*Navbar stuff ends here*/

ol {
    list-style-type: upper-roman;
		list-style-position: inside;
		background: 
}
/*End of list stuff*/

/*This is all table stuff https://www.w3schools.com/css/css_table.asp */
table {
		tr:hover {background-color: #f5f5f5}
}

table, th, td {
}

th, td {
		padding: 15px;
    text-align: left;
		border-bottom: 1px solid #ddd;
}

th {
    background-color: #4CAF50;
    color: rgba(0, 0, 0, 0);
}
/*End of table stuff*/

/*Things for content blocks*/
/*For content blocks, hover pseudo class https://www.w3schools.com/css/css_pseudo_classes.asp */
div:hover {
		background-color: rgba(42,160,12);
		display: block;
}

/*For content blocks, image opacity https://www.w3schools.com/css/css_image_transparency.asp */
/*maybe also add display: block with image info when hover?*/
img {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

img:hover {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

div.gallery {
    margin: 0px;
    float: left;
    width: 180px;
}

div.gallery:hover {
    color: rgba (42, 160, 12, 42);
		display: block;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
		display: none;
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
/*End of content block stuff*/

/*Content columns https://www.w3schools.com/css/css_website_layout.asp */
/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
@media (max-width: 600px) {
    .column {
        width: 100%;
    }
}
/*End of content columns*/

/*Search bar stuff https://www.w3schools.com/css/css_form.asp */
input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}
/*End of search bar stuff*/

/*Header & footer stuff https://www.w3schools.com/css/css_website_layout.asp */
.footer {
    background-color: #F1F1F1;
    text-align: center;
    padding: 10px;
}

.header {
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px;
}

/*End of header & footer stuff*/
