body {
    background-image: #ffffff url("fuck.jpg") no-repeat fixed right top; /*make color change with page position to tint image?*/
		/*https://www.w3schools.com/css/css_background.asp*/
		
		
    
}

h1 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 2.5em; /* 40px/16=2.5em */
		color:
		text-transform: uppercase;
		font-weight: bold;
		
}

h2 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 1.875em; /* 30px/16=1.875em */
		color:
		font-weight: bold;
		
}

p {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 0.875em; /* 14px/16=0.875em */col
		color:
		
}

/* unvisited link */
a:link {
		text-decoration: underline;
}

/* visited link */
a:visited {
		text-decoration: underline;
}

/* mouse over link */
a:hover {
    color: hotpink;
		text-decoration: underline;
}

/* selected link */
a:active {
    color: blue;
		text-decoration: underline;
}

/*This is all list stuff https://www.w3schools.com/css/css_list.asp */
ul {
		list-styl: circle inside url('sqpurple.gif'); /*set an image for the unorder list bullet*/
		background:
}

ol {
    list-style-type: upper-roman;
		list-style-position: inside;
		background: 
}
/*End of list stuff*/

/*This is all table stuff https://www.w3schools.com/css/css_table.asp */
table {
		tr:hover {background-color: #f5f5f5}
}

table, th, td {
}

th, td {
		padding: 15px;
    text-align: left;
		border-bottom: 1px solid #ddd;
}

th {
    background-color: #4CAF50;
    color: rgba(0, 0, 0, 0);
}
/*End of table stuff*/

